{% extends "::base.html.twig" %}

{% block stylesheets %}
    {% stylesheets 'css/bootstrap.css'
                    '../src/CanalTP/SamBundle/Resources/public/css/*'
                    '../vendor/canaltp/mtt-bundle/CanalTP/MttBundle/Resources/public/css/main.css'
                    '../web/components/bootstrap-datepicker/css/datepicker3.css'
                   filter='cssrewrite' output='css/full.css' %}
        <link rel="stylesheet" href="{{ asset_url }}?{{ assets_version }}" />
    {% endstylesheets %}
{% endblock %}

{% block head_config %}
    {% include 'CanalTPMttBundle::config.js.html.twig' %}
{% endblock %}

{% block navbar %}
    {{ knp_menu_render('CanalTPMttBundle:Builder:mttMenu', { 'style': 'navbar' }) }}
{% endblock %}

{% block title %}MTT{% endblock %}
{% block navbar_brand %}MTT{% endblock %}

{% block root_breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('canal_tp_meth_homepage') }}">{{'ctp_core._breadcrumb'|trans}}</a></li>
        {% block breadcrumb %}{% endblock %}
    </ol>
{% endblock %}

{% block body %}
    {% block subheader %}
    {% endblock %}
    {% block container %}
    {% endblock %}
    <div id="base-modal" class="modal fade">
    {% block base_modal %}
        <div class="modal-dialog">
            <div class="modal-content">
                {% include 'CanalTPMttBundle::modal.html.twig' %}
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    {% endblock %}
    </div><!-- /.modal -->
{% endblock %}

{# Common javascripts for MethBundle #}
{% block javascripts %}
    {% include 'CanalTPMttBundle::common.js.twig' %}
{% endblock %}
