{% extends "::base.html.twig" %}

{% block stylesheets %}
    {% stylesheets 'css/bootstrap.css'
                    'bundles/canaltpsam/css/*'
                    'bundles/canaltpmtt/css/main.css'
                    '../web/components/bootstrap-datepicker/css/datepicker3.css'
                   filter='cssrewrite' output='css/fullMtt.css' %}
        <link rel="stylesheet" href="{{ asset_url }}?{{ assets_version }}" />
    {% endstylesheets %}
{% endblock %}

{% block head_config %}
    {% include 'CanalTPMttBundle::config.js.html.twig' %}
{% endblock %}

{% block navbar %}
    {% set menuItem = knp_menu_get('CanalTPMttBundle:Builder:mttMenu', [], {'currentNetwork':externalNetworkId }) %}
    {{ knp_menu_render(menuItem, {'style': 'navbar', 'currentClass': 'active'}) }}
{% endblock %}

{% block title %}TIMETABLE{% endblock %}
{% block navbar_brand %}<a href="{{ path('canal_tp_mtt_homepage') }}">TIMETABLE</a>{% endblock %}

{% block root_breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('canal_tp_mtt_homepage') }}">{{'ctp_core._breadcrumb'|trans}}</a></li>
        {% block breadcrumb %}{% endblock %}
    </ol>
{% endblock %}

{% block body %}
    {% block subheader %}
    {% endblock %}
    {% block container %}
    {% endblock %}
    <div id="base-modal" class="modal fade">
    {% block base_modal %}
        <div class="modal-dialog">
            <div class="modal-content">
                {% include 'CanalTPMttBundle::modal.html.twig' %}
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    {% endblock %}
    </div><!-- /.modal -->
{% endblock %}

{# Common javascripts for MethBundle #}
{% block javascripts %}
    {% include 'CanalTPMttBundle::common.js.twig' %}
{% endblock %}
