{% extends "::base.html.twig" %}

{% block stylesheets %}
    {% stylesheets 'css/bootstrap.css'
                    'bundles/canaltpsam/css/*'
                    'bundles/canaltpmtt/css/main.css'
                    'components/bootstrap-datepicker/css/datepicker3.css'
                   filter='cssrewrite' output='css/fullMtt.css' %}
        <link rel="stylesheet" href="{{ asset_url }}?{{ assets_version }}" />
    {% endstylesheets %}
{% endblock %}

{% block head_config %}
    {% include 'CanalTPMttBundle::config.js.html.twig' %}
{% endblock %}

{% block navbar %}
    {% set menuItem = knp_menu_get('CanalTPMttBundle:Builder:mttMenu', [], {'currentExternalNetworkId':externalNetworkId, 'currentSeasonId':currentSeasonId }) %}
    {{ knp_menu_render(menuItem, {'style': 'navbar', 'currentClass': 'active'}) }}
{% endblock %}

{% block title -%}
{{ parent() }}
- TIMETABLE 
    {% if pageTitle %}
    - {{ pageTitle|trans }}
    {% endif %}
{% endblock %}
{% block navbar_brand %}<a href="{{ path('canal_tp_mtt_homepage') }}">TIMETABLE</a>{% endblock %}

{% block root_breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('canal_tp_mtt_homepage') }}">{{'ctp_core._breadcrumb'|trans}}</a></li>
        {% if currentNetwork %}
            <li>
                <a href="{{ path('canal_tp_mtt_homepage', {'externalNetworkId':currentNetwork.externalId }) }}">
                    {{ currentNetwork.name }}
                </a>
            </li>
            {% if currentSeason %}
                <li>
                    <a href="{{ path('canal_tp_mtt_stop_point_list_defaults', {'seasonId': currentSeason.id, 'externalNetworkId':currentNetwork.externalId }) }}">
                        {{ currentSeason.title }}
                    </a>
                </li>
            {% endif %}
        {% endif %}
        {% block breadcrumb %}
            {% if pageTitle %}
                <li>{{ pageTitle|trans }}</li>
            {% endif %}
        {% endblock %}
    </ol>
{% endblock %}

{% block body %}
    {% block subheader %}
    {% endblock %}
    {% block container %}
    {% endblock %}
    <div id="base-modal" class="modal fade">
    {% block base_modal %}
        <div class="modal-dialog">
            <div class="modal-content">
                {% include 'CanalTPMttBundle::modal.html.twig' %}
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    {% endblock %}
    </div><!-- /.modal -->
{% endblock %}

{# Common javascripts for MethBundle #}
{% block javascripts %}
    {% include 'CanalTPMttBundle::common.js.twig' %}
{% endblock %}
