{% extends "CanalTPMttBundle::container_and_menu.html.twig" %}

{% block left_menu %}
    {{ render(controller('CanalTPMttBundle:Default:navigation', {  'externalNetworkId': externalNetworkId, 'current_route': current_route, 'current_season': currentSeason.id })) }}
{% endblock %}

{% block main_content %}
    <h1>{{pageTitle}}</h1>
    <h4>{{'global.line_label'|trans}} {{ display_informations.label }} <span class="glyphicon glyphicon-arrow-right"></span> {{ display_informations.direction }}</h4>
    <div class="clearfix">
        <div class="pull-right">
            {% if (pdfUrl is not empty) %}
                <a class="btn btn-primary" href="{{ pdfUrl }}" target="_blank">
                    <span class="glyphicon glyphicon-download-alt"></span> {{'distribution.download_distribution_pdf'|trans({}, 'default')}}
                </a>
            {% else %}
                <a class="btn btn-primary disabled" disabled="disabled" title="{{'distribution.no_pdf_at_this_time'|trans({}, 'default')}}" href="#">
                    <span class="glyphicon glyphicon-download-alt"></span> {{'distribution.download_distribution_pdf'|trans({}, 'default')}}
                </a>
            {% endif %}
            {% if (is_granted('BUSINESS_GENERATE_DISTRIBUTION_LIST_PDF')) %}
            <a id="generate-distribution-list" href="{{ path('canal_tp_mtt_distribution_generate',
                {
                    'timetableId': timetable.id,
                    'externalNetworkId' : externalNetworkId
                }) }}" class="btn btn-primary">
                <span class="glyphicon glyphicon-file"></span> {{'distribution.generate_distribution_pdf'|trans({}, 'default')}}
            </a>
            {% endif %}
            <div class="btn-group">
                <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle">
                        {{'distribution.manage_order'|trans({}, 'default')}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a id="save-distribution-list" href="{{ path('canal_tp_mtt_distribution_list_save',{'externalNetworkId':externalNetworkId, 'lineId': externalLineId, 'routeId': current_route, 'currentSeasonId': currentSeason.id}) }}">
                            <span class="glyphicon glyphicon-refresh display-none"></span>
                            <span class="glyphicon glyphicon-floppy-disk"></span> {{'distribution.save_order'|trans({}, 'default')}}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('canal_tp_mtt_distribution_list',{'externalNetworkId':externalNetworkId, 'lineId': externalLineId, 'routeId': current_route, 'currentSeasonId': currentSeason.id, 'reset':true}) }}">
                            <span class="glyphicon glyphicon-sort-by-attributes"></span> {{'distribution.reset_order'|trans({}, 'default')}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h4>{{'distribution.stops_included'|trans({}, 'default')}}</h4>
            <ul id="included-stops" class="list-group sortable">
                <span class="help-block display-none">{{'help.drop_here'|trans}}</span>
                {% for schedule in schedules.included %}
                    {% include 'CanalTPMttBundle:Distribution:scheduleItem.html.twig' with {'schedule': schedule} %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <h4>{{'distribution.stops_excluded'|trans({}, 'default')}}</h4>
            <ul id="excluded-stops" class="list-group sortable{% if schedules.excluded|length == 0 %} empty-list{% endif %}">
                <span class="help-block{% if schedules.excluded|length != 0 %} display-none{% endif %}">{{'help.drop_here'|trans}}</span>
                {% for schedule in schedules.excluded %}
                    {% include 'CanalTPMttBundle:Distribution:scheduleItem.html.twig' with {'schedule': schedule} %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
require(['jquery', 'jquery_ui_sortable', 'sf_routes'],function(jQuery, sortable){

    /*var url = Routing.generate(
        'canal_tp_mtt_distribution_generate',
        {
            'timetableId': {{timetable.id|raw}},
            'externalNetworkId' : '{{externalNetworkId|raw}}'
        }
    );*/

    $('.list-group.sortable').sortable({
        placeholder: "sortable-highlight list-group-item",
        items: "> li",
        connectWith: "ul.list-group.sortable"
    }).on(
        'sortupdate',
        function( event, ui ){
            var $list = $(this);
            if ($list.find('.list-group-item').length > 0) {
                $list.find('> span').addClass('display-none');
                $list.removeClass('empty-list');
                if ($list.attr('id') == 'included-stops') {
                    $('#generate-distribution-list, #save-distribution-list').removeClass('disabled');
                }
            } else {
                $list.find('> span').removeClass('display-none');
                $list.addClass('empty-list');
                if ($list.attr('id') == 'included-stops') {
                    $('#generate-distribution-list, #save-distribution-list').addClass('disabled');
                }
            }
        }
    );
    $('.list-group.sortable').disableSelection();

    $('.sortable .toggle-stop-point-btn').click(function(){
        var $stopElement = $(this).parent();
        var $oldContainer = $stopElement.parents('.sortable');
        var $newContainer = $oldContainer.parent().siblings('div').find('.sortable');
        $stopElement.detach();
        $newContainer.append($stopElement);
        $newContainer.trigger('sortupdate');
        $oldContainer.trigger('sortupdate');
        return false;
    });

    var $list = $('#included-stops');

    var _getStopPointIds = function()
    {
        var stopPoints_ids = [];
        $list.find('.list-group-item').each(function(){
            stopPoints_ids.push($(this).data('stopPointNavitiaId'));
        });
        return stopPoints_ids;
    };
    var under_progress = false;
    $('#save-distribution-list').click(function(){
        if (under_progress == true) {
            return false;
        }
        under_progress = true;
        var $link = $(this);
        $link.find('span.glyphicon-refresh').toggleClass('icon-refresh-animate display-none');
        $link.find('span.glyphicon-floppy-disk').toggle();
        var stopPoints_ids = _getStopPointIds();
        if (stopPoints_ids.length > 0)
        {
            $.post(
                $link.attr('href'),
                {"stopPointsIds[]" : stopPoints_ids}
            ).done(function(data, textStatus){
                under_progress = false;
                window.location = $link.attr('href');
            });
        }
        return false;
    });
    $('#generate-distribution-list').click(function(){
        var stopPoints_ids = _getStopPointIds();

        if (stopPoints_ids.length > 0)
        {
            var $form = $('<form method="POST" action="' + $(this).attr('href') + '"></form>');
            $(stopPoints_ids).each(function(){
                $form.append('<input type="hidden" name="stopPointsIds[]" value="' + this + '" />');
            });
            $form.submit();
        }
        return false;
    });
});
</script>
{% endblock %}
