{% extends "CanalTPMttBundle::base.html.twig" %}

{% block left_menu %}
    {{ render(controller('CanalTPMttBundle:Default:navigation', { 'current_route': current_route })) }}
{% endblock %}

{% block main_content %}
    <div>
        <h3>{{'distribution.stops_included'|trans({}, 'default')}} -
            <button id="generate-distribution-list" type="button" class="btn btn-success">
                <span class="glyphicon glyphicon-download-alt"></span> {{'distribution.generate_distribution_pdf'|trans({}, 'default')}}
            </button>
        </h3>
    </div>
    <hr/>
    <ul id="included-stops" class="list-group sortable">
        {% for schedule in schedules.included %}
            {% include 'CanalTPMttBundle:Distribution:scheduleItem.html.twig' with {'schedule': schedule} %}
        {% endfor %}
    </ul>

    <h3>{{'distribution.stops_excluded'|trans({}, 'default')}}</h3>
    <hr/>
    <ul id="excluded-stops" class="list-group sortable">
        {% for schedule in schedules.excluded %}
            {% include 'CanalTPMttBundle:Distribution:scheduleItem.html.twig' with {'schedule': schedule} %}
        {% endfor %}
    </ul>

{% endblock %}

{% block base_modal %}
    <div class="modal-dialog">
        <div class="modal-content">
            {% embed "CanalTPMttBundle::modal.html.twig" %}
                {% block modal_title %}{{'distribution.generation_title'|trans({}, 'default')}}{% endblock %}
                {% block modal_body %}
                <div class="progress progress-striped active">
                    <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span>{{'distribution.generation_in_progress'|trans({}, 'default')}}</span>
                    </div>
                </div>
                <div class="center">
                    <a class="btn btn-primary" href="" target="_blank" style="display:none;">
                        <span class="glyphicon glyphicon-download-alt"></span> {{'global.downloadPdf'|trans}}
                    </a>
                </div>
                {% endblock %}
                {% block modal_actions %}{% endblock %}
                {% block modal_close_header %}{% endblock %}
                {% block modal_close_footer %}{% endblock %}
            {% endembed %}
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
require(['jquery', 'jquery_ui_sortable', 'sf_routes'],function(jQuery, sortable){

    var url = Routing.generate(
        'canal_tp_meth_distribution_generate',
        {
            'timetableId': {{timetable.id|raw}},
            'externalCoverageId' : '{{coverage_id|raw}}'
        }
    );

    $('.list-group.sortable').sortable({
        placeholder: "sortable-highlight list-group-item",
        connectWith: "ul.list-group.sortable"
    });
    $('.list-group.sortable').disableSelection();

    $('.sortable .toggle-stop-point-btn').click(function(){
        var $stopElement = $(this).parent();
        var $newContainer = $stopElement.parents('.sortable').siblings('.sortable');
        $stopElement.detach();
        $newContainer.append($stopElement);
        return false;
    });

    var $list = $('#included-stops');
    $('#generate-distribution-list').click(function(){
        var stopPoints_ids = [];
        $list.find('.list-group-item').each(function(){
            stopPoints_ids.push($(this).data('stopPointNavitiaId'));
        });
        $('#base-modal').find('a.btn').hide();
        $('#base-modal').find('div.progress').show();
        $('#base-modal').modal('show');
        if (stopPoints_ids.length > 0)
        {
            $.post(
                url,
                {"stopPointsIds[]" : stopPoints_ids}
            ).done(function(data){
                $('#base-modal').find('div.progress').hide();
                $('#base-modal').find('a.btn').attr('href', data.path).show();
            });
        }
        return false;
    });
});
</script>
{% endblock %}
