{% extends "CanalTPMttBundle::container_and_menu.html.twig" %}

{# TODO: Add this when will be possible. (Before we need to fix controller when we doesn't have timetable for season)
 {% block subheader %}
    <div class="col-md-offset-3 col-md-9">
        {% if seasons|length == 0 %}
            {{'season.please_create_before_continue'|trans({}, 'default')}}
            <a class="btn btn-default" href="{{ path('canal_tp_mtt_season_list', {'network_id': externalNetworkId}) }}">
                {{'season.create'|trans({}, 'default')}}
            </a>
        {% else %}
            <ul class="nav nav-tabs nav-justified">
                {% for season in seasons %}
                    <li{% if currentSeason.id == season.id %} class="active"{% endif %}>
                        <a href="{{ path(
                            'canal_tp_mtt_distribution_list',
                            {
                                'externalNetworkId':externalNetworkId, 
                                'lineId':externalLineId,
                                'routeId':externalRouteId,
                                'currentSeasonId':season.id
                            }
                        ) }}">
                            {{ season.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
 #}

{% block left_menu %}
    {{ render(controller('CanalTPMttBundle:Default:navigation', {  'externalNetworkId': externalNetworkId, 'current_route': current_route, 'current_season': currentSeason.id })) }}
{% endblock %}

{% block main_content %}
    <div>
        <h3>{{'distribution.stops_included'|trans({}, 'default')}} ({{currentSeason.title}}) -
            <button id="generate-distribution-list" type="button" class="btn btn-success">
                <span class="glyphicon glyphicon-download-alt"></span> {{'distribution.generate_distribution_pdf'|trans({}, 'default')}}
            </button>
            -
            <a id="save-distribution-list" class="btn btn-primary" href="{{ path('canal_tp_mtt_distribution_list_save',{'externalNetworkId':externalNetworkId, 'lineId': externalLineId, 'routeId': current_route, 'currentSeasonId': currentSeason.id}) }}">
                <span class="glyphicon glyphicon-refresh display-none"></span>
                <span class="glyphicon glyphicon-floppy-disk"></span> {{'distribution.save_order'|trans({}, 'default')}}
            </a>
            -
            <a class="btn btn-default" href="{{ path('canal_tp_mtt_distribution_list',{'externalNetworkId':externalNetworkId, 'lineId': externalLineId, 'routeId': current_route, 'currentSeasonId': currentSeason.id, 'reset':true}) }}">
                <span class="glyphicon glyphicon-sort-by-attributes"></span> {{'distribution.reset_order'|trans({}, 'default')}}
            </a>
        </h3>
    </div>
    <hr/>
    <ul id="included-stops" class="list-group sortable{% if schedules.excluded|length == 0 %} empty-list{% endif %}">
        <span class="help-block{% if schedules.included|length != 0 %} display-none{% endif %}">{{'help.drop_here'|trans}}</span>
        {% for schedule in schedules.included %}
            {% include 'CanalTPMttBundle:Distribution:scheduleItem.html.twig' with {'schedule': schedule} %}
        {% endfor %}
    </ul>

    <h3>{{'distribution.stops_excluded'|trans({}, 'default')}}</h3>
    <hr/>
    <ul id="excluded-stops" class="list-group sortable{% if schedules.excluded|length == 0 %} empty-list{% endif %}">
        <span class="help-block{% if schedules.excluded|length != 0 %} display-none{% endif %}">{{'help.drop_here'|trans}}</span>
        {% for schedule in schedules.excluded %}
            {% include 'CanalTPMttBundle:Distribution:scheduleItem.html.twig' with {'schedule': schedule} %}
        {% endfor %}
    </ul>

{% endblock %}

{% block base_modal %}
    <div class="modal-dialog">
        <div class="modal-content">
            {% embed "CanalTPMttBundle::modal.html.twig" %}
                {% block modal_title %}{{'distribution.generation_title'|trans({}, 'default')}}{% endblock %}
                {% block modal_body %}
                <div class="progress progress-striped active">
                    <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span>{{'distribution.generation_in_progress'|trans({}, 'default')}}</span>
                    </div>
                </div>
                <div class="center">
                    <a class="btn btn-primary" href="" target="_blank" style="display:none;">
                        <span class="glyphicon glyphicon-download-alt"></span> {{'global.downloadPdf'|trans}}
                    </a>
                </div>
                {% endblock %}
                {% block modal_actions %}{% endblock %}
                {% block modal_close_header %}{% endblock %}
                {% block modal_close_footer %}{% endblock %}
            {% endembed %}
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
require(['jquery', 'jquery_ui_sortable', 'sf_routes'],function(jQuery, sortable){

    var url = Routing.generate(
        'canal_tp_mtt_distribution_generate',
        {
            'timetableId': {{timetable.id|raw}},
            'externalNetworkId' : '{{externalNetworkId|raw}}'
        }
    );
    var $excludedStops = $('#excluded-stops')
    $('.list-group.sortable').sortable({
        placeholder: "sortable-highlight list-group-item",
        items: "> li",
        connectWith: "ul.list-group.sortable"
    }).on('sortupdate', function( event, ui ){
        if ($excludedStops.find('.list-group-item').length > 0) {
            $excludedStops.find('> span').addClass('display-none');
            $excludedStops.removeClass('empty-list');
        } else {
            $excludedStops.find('> span').removeClass('display-none');
            $excludedStops.addClass('empty-list');
        }
    });
    $('.list-group.sortable').disableSelection();

    $('.sortable .toggle-stop-point-btn').click(function(){
        var $stopElement = $(this).parent();
        var $newContainer = $stopElement.parents('.sortable').siblings('.sortable');
        $stopElement.detach();
        $newContainer.append($stopElement);
        $newContainer.trigger('sortupdate');
        return false;
    });

    var $list = $('#included-stops');
    
    var _getStopPointIds = function()
    {
        var stopPoints_ids = [];
        $list.find('.list-group-item').each(function(){
            stopPoints_ids.push($(this).data('stopPointNavitiaId'));
        });
        return stopPoints_ids;
    };
    var under_progress = false;
    $('#save-distribution-list').click(function(){
        if (under_progress == true) {
            return false;
        }
        under_progress = true;
        var $link = $(this);
        $link.find('span.glyphicon-refresh').toggleClass('icon-refresh-animate display-none');
        $link.find('span.glyphicon-floppy-disk').toggle();
        var stopPoints_ids = _getStopPointIds();
        if (stopPoints_ids.length > 0)
        {
            $.post(
                $link.attr('href'),
                {"stopPointsIds[]" : stopPoints_ids}
            ).done(function(data, textStatus){
                under_progress = false;
                window.location = $link.attr('href');
            });
        }
        return false;
    });
    $('#generate-distribution-list').click(function(){
        var stopPoints_ids = _getStopPointIds();
        
        $('#base-modal').find('a.btn').hide();
        $('#base-modal').find('div.progress').show();
        $('#base-modal').modal('show');
        if (stopPoints_ids.length > 0)
        {
            $.post(
                url,
                {"stopPointsIds[]" : stopPoints_ids}
            ).done(function(data){
                $('#base-modal').find('div.progress').hide();
                $('#base-modal').find('a.btn').attr('href', data.path).show();
            });
        }
        return false;
    });
});
</script>
{% endblock %}
