{% extends "CanalTPMttBundle::container_and_menu.html.twig" %}

{% block left_menu %}
    {{ render(controller('CanalTPMttBundle:Area:navigation', { 'externalNetworkId': externalNetworkId })) }}
{% endblock %}

{% block main_content %}
    <h1>{{'global.area_stop_list_label'|trans}}</h1>
    <h4>{{'global.area_label'|trans}} {{ display_informations.label }}</h4>
    <div class="row">
        <div class="col-md-offset-5 col-md-7">
            {% if (pdfUrl is not empty) %}
                <a class="btn btn-primary" href="{{ pdfUrl }}" target="_blank">
                    <span class="glyphicon glyphicon-download-alt"></span> {{'distribution.download_distribution_pdf'|trans({}, 'default')}}
                </a>
            {% else %}
                <a class="btn btn-primary disabled" disabled="disabled" title="{{'distribution.no_pdf_at_this_time'|trans({}, 'default')}}" href="#">
                    <span class="glyphicon glyphicon-download-alt"></span> {{'distribution.download_distribution_pdf'|trans({}, 'default')}}
                </a>
            {% endif %}
            {% if (is_granted('BUSINESS_GENERATE_DISTRIBUTION_LIST_PDF')) %}
                {% if locked %}
                    <a id="generate-distribution-list" href="" class="btn btn-primary" disabled="disabled">
                    <span class="glyphicon glyphicon-refresh icon-refresh-animate"></span> {{'distribution.generate_distribution_pdf'|trans({}, 'default')}}
                </a>
                {% else %}
                <a id="generate-distribution-list" href="{#{{ path('canal_tp_mtt_distribution_generate',
                    {
                        'timetableId': timetable.id,
                        'externalNetworkId' : externalNetworkId
                    }) }}#}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-file"></span> {{'distribution.generate_distribution_pdf'|trans({}, 'default')}}
                </a>
                {% endif %}
            {% endif %}
            <a id="save-distribution-list" class="btn btn-primary" href="{#{{ path('canal_tp_mtt_distribution_list_save',{'externalNetworkId':externalNetworkId, 'lineId': externalLineId, 'routeId': current_route, 'currentSeasonId': currentSeason.id}) }}#}">
                <span class="glyphicon glyphicon-refresh display-none"></span>
                <span class="glyphicon glyphicon-floppy-disk"></span> {{'distribution.save_order'|trans({}, 'default')}}
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <h4>{{'distribution.stops'|trans({}, 'default')}}</h4>
            <hr class="no-border black" />
            <ul id="excluded-stops" class="list-group">
            </ul>
        </div>
        <div class="col-md-7">
            <h4>{{area.label}}</h4>
            <hr class="no-border black" />
            <ul id="included-stops" class="list-group sortable area-list ui-sortable {% if schedules.excluded|length == 0 %} empty-list{% endif %}">
                {% for schedule in schedules.included %}
                    {% include 'CanalTPMttBundle:Distribution:scheduleItem.html.twig' with {'schedule': schedule} %}
                {% endfor %}
                <span class="help-block{% if schedules.excluded|length != 0 %} display-none{% endif %}">{{'area.list_empty'|trans}}</span>
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

<script type="text/javascript">
require(['mtt/area'], function(area) {
});
</script>    
    
{% endblock %}
