{% extends "CanalTPMttBundle::generic_list.html.twig" %}

{% block list_title -%}
    {{'area.title'|trans({}, 'default')}}
    {% if is_granted('BUSINESS_MANAGE_AREA') %}
        -
        <a href="{{ path('canal_tp_mtt_area_edit', {'externalNetworkId': externalNetworkId}) }}" data-toggle="modal" data-target="#base-modal" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> {{'area.create'|trans({}, 'default')}}
        </a>
    {% endif %}
{% endblock %}

{% block table_head -%}
    <th>{{'area.list.columns.label'|trans({}, 'default')}}</th>
    {% if is_granted('BUSINESS_MANAGE_AREA') %}
        <th>{{'global.actions'|trans({}, 'messages')}}</th>
    {% endif %}
{% endblock %}

{% block table_body -%}
    {% if areas|length == 0 %}
        <tr>
            <td colspan="4">
                {{'global.no_items'|trans}}
            </td>
        </tr>
    {% else %}
        {% for area in areas %}
            <tr>
                <td>
                    {% if is_granted('BUSINESS_MANAGE_AREA') %}
                        {#<a href="{{ path('canal_tp_mtt_area_edit', {'areaId': area.id }) }}">{{ area.label }}</a>#}
                    {% else %}
                        {{ area.label }}
                    {% endif %}
                </td>
                <td>
                    {% if is_granted('BUSINESS_MANAGE_AREA') %}
                        <a class="btn btn-default" href="{{ path('canal_tp_mtt_area_list_pdf', {'areaId': area.id }) }}" data-toggle="modal" data-target="#base-modal">
                            <span class="glyphicon glyphicon-list-alt"></span> {{'area.pdf_list'|trans({}, 'default')}}
                        </a>
                        <a class="btn btn-default" href="{{ path('canal_tp_mtt_area_edit', {'externalNetworkId': externalNetworkId, 'areaId': area.id }) }}" data-toggle="modal" data-target="#base-modal">
                            <span class="glyphicon glyphicon-edit"></span> {{'global.edit'|trans({}, 'messages')}}
                        </a>
                        <a class="btn btn-danger" href="{{ path('canal_tp_mtt_area_remove', {'externalNetworkId': externalNetworkId, 'areaId': area.id }) }}">
                            <span class="glyphicon glyphicon-trash"></span> {{'global.delete'|trans({}, 'messages')}}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
{% endblock %}
