{% extends "::modal.html.twig" %}

{% form_theme form 'CanalTPMttBundle:Form:fields.html.twig' %}

{% block open_form %}
    {{ form_start(form) }}
{% endblock %}

{% block modal_title %}
    {{'layout_config.create'|trans({}, 'default')}}
{% endblock %}


{% block modal_body %}
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-lg-12">
            {{ form_row(form.label) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.calendarStart) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.calendarEnd) }}
        </div>

        <div class="col-lg-12">
            {{ form_row(form.notesType) }}
        </div>
        
        <div class="col-lg-6">
            <div class="form-group">
                {{ form_label(form.notesColors) }}
                {% for notesColor in form.notesColors %}
                    {{ form_errors(notesColor) }}
                    {{ form_widget(notesColor) }}
                {% endfor %}
            </div>
        </div>
                
                
        <div class="col-lg-12">
            {{ form_row(form.file) }}
        </div>
        <div class="col-lg-12">
            {{ form_row(form.layout) }}
        </div>
    </div>
            

<script type="text/javascript">
require(['jquery'], function($) {
    $('.notes-color').each(function() {
        console.log($(this).val());
        $(this).css('color', $(this).val());
        
        $(this).focusout(function() {
           $(this).css('color', $(this).val());
        });
    });
    
});
</script>
{% endblock %}

{% block modal_actions %}
    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-pencil"></span> {{'global.save'|trans}}
    </button>
    {{ form_end(form) }}
{% endblock %}