{% extends "CanalTPMttBundle::generic_list.html.twig" %}

{% trans_default_domain "default" %}

{% block list_title -%}
    {{'layout.list'|trans({}, 'default')}}
{% endblock %}

{% block table_head -%}
    <th>{{'layout.label'|trans}}</th>
    <th>{{'layout.preview'|trans}}</th>
    <th>{{'layout.orientation'|trans}}</th>
    <th>{{'calendar.start'|trans({}, 'messages')}}</th>
    <th>{{'calendar.end'|trans({}, 'messages')}}</th>
{% endblock %}

{% block table_body %}
    {% if layoutConfigs|length == 0 %}
        <tr>
            <td colspan="5">
                {{'global.no_items'|trans}}
            </td>
        </tr>
    {% else %}
        {% for layoutConfig in layoutConfigs %}
            <tr>
                <td>
                    {{ layoutConfig.label }}
                </td>
                <td>
                    <img class="layout-preview" src="{{ app.request.basePath ~ layoutConfig.layout.previewPath }}" />
                </td>
                <td>
                    {{ layoutConfigRepo.orientationName(layoutConfig.orientation) }}
                </td>
                <td>
                    {{ layoutConfig.calendarStart }}
                </td>
                <td>
                    {{ layoutConfig.calendarEnd }}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
{% endblock %}
