{% extends "CanalTPMttBundle::base.html.twig" %}

{% block main_content %}
    <h1>{{ 'welcome'|trans({}, 'default') }}</h1>
    <br>
    <h3>Networks</h3>
    <ul>
        {% for network in networks %}
            <li>
                {{ network.external_coverage_id }} -> {{ network.external_id }}
                <a href="#" data-toggle="modal" data-target="#base-modal" data-remote="{{ path('canal_tp_mtt_season_create', {'coverage_id': network.external_coverage_id, 'network_id': network.external_id}) }}">
                    {{'season.create'|trans({}, 'default')}}
                </a>
            </li>
        {% endfor %}
    </ul>



{% endblock %}
