{% extends "CanalTPMttBundle::container_and_menu.html.twig" %}

{% import "CanalTPSamEcoreUserManagerBundle::macros.html.twig" as macros %}

{% block main_content %}
    <h1>{{ 'welcome'|trans({}, 'default') }}</h1>
    <hr/>
    {% if tasks is not empty %}
        <h3>{{'task.under_progress'|trans({}, 'default')}}</h3>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                       {{'task.status.label'|trans({}, 'default')}}
                    </th>
                    <th>
                       {{'task.type'|trans({}, 'default')}}
                    </th>
                    <th>
                       {{'task.completion'|trans({}, 'default')}}
                    </th>
                    <th>
                       {{'task.launchedAt'|trans({}, 'default')}}
                    </th>
                    <th>
                       {{'task.completedAt'|trans({}, 'default')}}
                    </th>
                    <th>
                       {{'global.actions'|trans}}
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td class="text-center">
                        {{ task.status|taskStatus|trans({}, 'default') }}
                    </td>
                    <td>
                        {{task|taskType}}
                    </td>
                    <td>
                        {% if task.isCompleted or task.isUnderProgress %}
                            {{task.amqpAcks|length}}/{{task.jobsPublished}}
                        {% endif %}
                    </td>
                    <td>
                        {{task.created|date('d/m/Y - H:i:s')}}
                    </td>
                    <td>
                        {% if task.isCompleted or task.isCanceled %}
                            {{task.completedAt|date('d/m/Y - H:i:s')}}
                        {% endif %}
                    </td>
                    <td>
                        {% if task.isUnderProgress %}
                            <a class="btn btn-danger btn-sm" href="{{ path('canal_tp_mtt_cancel_amqp_task', {'taskId': task.id, 'externalNetworkId': externalNetworkId}) }}">
                                <span class="glyphicon glyphicon-trash"></span>
                                {{'global.cancel'|trans}}
                            </a>
                        {% endif %}
                        {{ task|taskActions }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}

    {% endif %}
{% endblock %}
