{% extends "CanalTPMttBundle::container_and_menu.html.twig" %}

{% import "CanalTPSamEcoreUserManagerBundle::macros.html.twig" as macros %}

{% block main_content %}
    <h1>{{ 'welcome'|trans({}, 'default') }}</h1>
    <h4>{{ network.externalId }}</h4>
    <a class="btn btn-default" href="{{ path('canal_tp_mtt_season_list', {'externalNetworkId': network.externalId}) }}">
        {{'season.list'|trans({}, 'default')}}
    </a>
    <hr/>
    {% if tasks is not empty %}
        <h3>{{'task.under_progress'|trans({}, 'default')}}</h3>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                       {{'task.completed'|trans({}, 'default')}}
                    </th>
                    <th>
                       {{'task.type'|trans({}, 'default')}}
                    </th>
                    <th>
                       {{'task.completion'|trans({}, 'default')}}
                    </th>
                    <th>
                       {{'task.launchedAt'|trans({}, 'default')}}
                    </th>
                    <th>
                       {{'task.completedAt'|trans({}, 'default')}}
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td class="text-center">
                        {{ macros.display_bool(task.completed) }}
                    </td>
                    <td>
                        {{task.typeId|taskType|trans({}, 'default')}}
                    </td>
                    <td>
                        {{task.amqpAcks|length}}/{{task.jobsPublished}}
                    </td>
                    <td>
                        {{task.created|date('d/m/Y - H:i:s')}}
                    </td>
                    <td>
                        {% if task.completed %}
                            {{task.completedAt|date('d/m/Y - H:i:s')}}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        
    {% endif %}
{% endblock %}
