<div id="lines-accordion" class="panel-group">
    {% for mode,lines in result %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#lines-accordion" href="#mode-collapse-{{ loop.index0 }}">
                        {{ lines[0].commercial_mode.name }}
                    </a>
            </div>
            <div id="mode-collapse-{{ loop.index0 }}" class="panel-collapse collapse">
                <div class="panel-body">
                    {% for line in lines %}
                        <div class="line-menu-wrapper clearfix">
                            <a class="line-link-toggle" href="#">{{ line.name }}</a>
                            <span class="badge pull-right">{{ line.routes|length }}</span>
                            <ul class="display-none">
                            {% for route in line.routes %}
                                <li {% if route.id == current_route %} class="active"{% endif %}>
                                    <a href="{{ path('canal_tp_meth_stop_point_list', {'coverage_id':coverageId,'network_id':line.network.id, 'line_id':line.id, 'routeExternalId': route.id}) }}">
                                        {{ route.name }}
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<script type="text/javascript">require(['meth_left_menu'],function(menu){
    menu.init($('#lines-accordion'));
});</script>
