<ul id="lines-accordion" class="nav nav-pills nav-stacked">
    {% for mode,lines in result %}
        <li class="mode-wrapper">
            {% set cssClass = "collapsed" %}
            {% for line in lines %}
                {% for route in line.routes %}
                    {% if route.id == current_route %}
                        {% set cssClass = "" %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <a data-toggle="collapse" id="" href="#mode-collapse-{{ loop.index0 }}" class="{{cssClass}}">
                <span class="mode-icon mode-id-{{lines[0].commercial_mode.id|replace({':':'-'})|lower}}"></span>{{ lines[0].commercial_mode.name }}
            </a>
            <ul id="mode-collapse-{{ loop.index0 }}" class="nav nav-pills nav-stacked collapse in">
                {% for line in lines %}
                    <li class="line-menu-wrapper clearfix">
                        <a data-parent="#mode-collapse-{{ loop.parent.loop.index0 }}" data-toggle="collapse" id="" class="line-link-toggle" href="#mode-{{loop.parent.loop.index0}}-routes-collapse-{{ loop.index0 }}">
                            {% if line.code %}<span class="line-code" style="background-color: #{{ line.color }}">{{ line.code }}</span>{% endif %} {{ line.name }}
                        </a>
                        <!--span class="badge pull-right">{{ line.routes|length }}</span-->
                        <ul id="mode-{{loop.parent.loop.index0}}-routes-collapse-{{ loop.index0 }}" class="nav nav-pills nav-stacked collapse in">
                        {% for route in line.routes %}
                            <li {% if route.id == current_route %} class="active"{% endif %}>
                                <a href="{{ path(
                                    'canal_tp_mtt_stop_point_list',
                                    {
                                        'externalNetworkId':line.network.id,
                                        'line_id':line.id,
                                        'externalRouteId': route.id,
                                        'seasonId': current_season
                                    }
                                ) }}">
                                    <span class="glyphicon glyphicon-arrow-right"></span> {{ route.name }}
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
<script type="text/javascript">require(['mtt_left_menu'],function(menu){
    menu.init($('#lines-accordion'));
});</script>
