{% set menuMode = "default" %}
<ul id="lines-accordion" class="nav nav-pills nav-stacked">
    {% for mode,lines in result %}
        <li class="mode-wrapper">
            {% set cssClass = "collapsed" %}
            {% for line in lines %}
                {% if options.no_route  %}
                    {%  set menuMode = "noRoute" %}
                    {% if line.id == options.current_line %}
                        {% set cssClass = "" %}
                    {% endif %}
                {%  else  %}
                    {%  set menuMode = "default" %}
                    {% for route in line.routes %}
                        {% if route.id == options.current_route %}
                            {% set cssClass = "" %}
                        {% endif %}
                    {% endfor %}
                {%  endif %}
            {% endfor %}
            <a data-toggle="collapse" id="" href="#mode-collapse-{{ loop.index0 }}" class="{{cssClass}}">
                <span class="mode-icon mode-id-{{lines[0].commercial_mode.id|replace({':':'-'})|lower}}"></span>{{ lines[0].commercial_mode.name }}
            </a>
            <ul id="mode-collapse-{{ loop.index0 }}" class="nav nav-pills nav-stacked collapse in">
                {% for line in lines %}
                    <li class="line-menu-wrapper clearfix  {% if line.id == options.current_line %}active{% endif %}">
                        <a data-parent="#mode-collapse-{{ loop.parent.loop.index0 }}"
                           {% if menuMode == "default" %}data-toggle="collapse"{% endif %}
                           id=""
                           class="line-link-toggle"
                           {% if options.no_route  %}
                               href="{{  path(
                                   'canal_tp_mtt_timecard_list',
                                   {
                                        'externalNetworkId':line.network.id,
                                        'externalRouteId' : externalRouteId,
                                        'lineId':line.id
                                   }
                               ) }}"
                           {%  else %}
                               href="#mode-{{loop.parent.loop.index0}}-routes-collapse-{{ loop.index0 }}"
                           {% endif %}
                        >
                            {% if line.code %}<span class="line-code" style="background-color: {{ line.color }}">{{ line.code }}</span>{% endif %} {{ line.name }}
                        </a>
                        <!--span class="badge pull-right">{{ line.routes|length }}</span-->
                        {% if menuMode == "default" %}
                        <ul id="mode-{{loop.parent.loop.index0}}-routes-collapse-{{ loop.index0 }}" class="nav nav-pills nav-stacked collapse in">
                        {% for route in line.routes %}
                            <li {% if route.id == options.current_route %} class="active"{% endif %}>
                                <a href="{{ path(
                                    'canal_tp_mtt_stop_point_list',
                                    {
                                        'externalNetworkId':line.network.id,
                                        'line_id':line.id,
                                        'externalRouteId': route.id,
                                        'seasonId': current_season
                                    }
                                ) }}">
                                    <span class="glyphicon glyphicon-arrow-right"></span> {{ route.name }}
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>

<script type="text/javascript">require(['mtt_left_menu'],function(menu){
    menu.init($('#lines-accordion'), '{{ menuMode }}');
});
</script>
