<ul id="lines-accordion" class="nav nav-pills nav-stacked">
    {% set locked = false %}
    {% for mode,lines in result %}
        {% set cssClass = "collapsed" %}
        {% if not locked %}
            {% if navigationMode == 'routes' %}
                {% for line in lines %}
                    {% for route in line.routes %}
                        {% if route.id == options.externalRouteId %}
                            {% set cssClass = "" %}
                            {% set options = options|merge({'externalLineId': line.id}) %}
                            {% set locked = true %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% elseif navigationMode == 'lines' %}
                {% for line in lines %}
                    {% if line.id == options.externalLineId %}
                        {% set cssClass = "" %}
                        {% set locked = true %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}

        <li class="mode-wrapper">
        <a data-toggle="collapse" id="" href="#mode-collapse-{{ loop.index0 }}" class="{{ cssClass }}">
            <span class="mode-icon mode-id-{{ lines[0].commercial_mode.id|replace({':':'-'})|lower }}"></span>{{ lines[0].commercial_mode.name }}
        </a>
        <ul id="mode-collapse-{{ loop.index0 }}" class="nav nav-pills nav-stacked collapse in">
        {% for line in lines %}
            <li class="line-menu-wrapper clearfix{% if line.id == options.externalLineId %} active{% endif %}">
                <a data-parent="#mode-collapse-{{ loop.parent.loop.index0 }}"
                    id=""
                    class="line-link-toggle"
                    {% if navigationMode == 'routes' %}
                        data-toggle="collapse"
                        href="#mode-{{ loop.parent.loop.index0 }}-routes-collapse-{{ loop.index0 }}"
                    {% else %}
                        href="{{ path('canal_tp_mtt_line_timetable_list', {'externalNetworkId': line.network.id, 'externalLineId': line.id, 'seasonId': seasonId}) }}"
                    {% endif %}
                >
                    {% if line.code %}<span class="line-code" style="background-color: #{{ line.color }}">{{ line.code }}</span>{% endif %} {{ line.name }}
                </a>
                {% if navigationMode == 'routes' %}
                    <ul id="mode-{{ loop.parent.loop.index0 }}-routes-collapse-{{ loop.index0 }}" class="nav nav-pills nav-stacked collapse in">
                    {% for route in line.routes %}
                        <li{% if route.id == options.externalRouteId %} class="active"{% endif %}>
                            <a href="{{ path('canal_tp_mtt_stop_point_list', {
                                'externalNetworkId': line.network.id,
                                'externalLineId': line.id,
                                'externalRouteId': route.id,
                                'seasonId': seasonId
                            }) }}">
                                <span class="glyphicon glyphicon-arrow-right"></span> {{ route.name }}
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>

<script type="text/javascript">
    require(['mtt_left_menu'], function(menu) {
        menu.init($('#lines-accordion'), {{ navigationMode|json_encode|raw }});
    });
</script>
