{% extends "::modal.html.twig" %}

{% form_theme form 'CanalTPMttBundle:Form:fields.html.twig' %}

{% block open_form %}
    {{ form_start(form) }}
{% endblock %}

{% block modal_title %}
    {{ 'block.title.add'|trans({}, 'default') }}
{% endblock %}

{% block modal_body %}
    {{ form_errors(form) }}
    {{ form_row(form.type) }}
    {{ form_row(form.number) }}
    {{ form_row(form.externalLineId) }}
    {{ form_row(form.rank) }}
    {{ form_row(form.timetable) }}
{% endblock %}

{% block modal_actions %}
    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-pencil"></span> {{'global.save'|trans}}
    </button>
    {{ form_end(form) }}
{% endblock %}
