{% extends "CanalTPMttBundle::container.html.twig" %}

{% form_theme form 'CanalTPMttBundle:Form:fields.html.twig' %}

{% trans_default_domain "default" %}

{% block main_content %}
    <div>
        <h3>{{ 'calendar.edit.title'|trans }}</h3>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">
        {{'global.validate'|trans({}, 'messages')}}
    </button>
    <a id="back_button" class="btn btn-default" href="{{ path('canal_tp_mtt_calendars_list') }}">
    <span class="glyphicon glyphicon-arrow-left"></span>
        {{'calendar.create.back'|trans }}
    </a>
    {{ form_end(form) }}
{% endblock %}

{% block inline_javascripts %}
    {{ parent() }}
    <script>
        require(['bootstrap/datepicker', 'bootstrap/datepicker/{{ app.request.locale }}'], function(){

            $('input.datepicker ').datepicker({
                language: '{{ app.request.locale }}',
                startView: 1,
                autoclose: true
            });
        });
    </script>
{% endblock %}
