{% extends "CanalTPMttBundle::generic_list.html.twig" %}

{% trans_default_domain "default" %}

{% block list_title %}{{ 'calendar.list.title'|trans }}{% endblock %}
{% block list_menu %}
    <div class="text-right">
        <a {% if not calendars %}disabled{% endif %} id="calendar_export_btn" class="btn btn-primary" href="{{ path('canal_tp_mtt_calendars_export') }}">
            {{'calendar.list.export'|trans}}
        </a>
        <a id="calendar_create_btn" class="btn btn-default" href="{{ path('canal_tp_mtt_calendars_create') }}">
            {{'calendar.list.create'|trans}}
        </a>
   </div>
{% endblock %}

{% block table_classes %}table-hover table-striped{% endblock %}

{% block table_head -%}
    <th>{{'calendar.form.title'|trans }}</th>
    <th>{{'calendar.form.start_date'|trans }}</th>
    <th>{{'calendar.form.end_date'|trans }}</th>
    <th>{{'calendar.list.weekly_pattern'|trans }}</th>
    <th>{{'global.actions'|trans({}, 'messages')}}</th>
{% endblock %}

{% block table_body -%}
    {% for calendar in calendars %}
        <tr>
            <td>{{ calendar.title }}</td>
            <td>{{ calendar.startDate|date('Y-m-d') }}</td>
            <td>{{ calendar.endDate|date('Y-m-d') }}</td>
            <td>{{ calendar.weeklyPattern|toWeekDays }}</td>
            <td>
                <a class="btn btn-default" href="{{ path('canal_tp_mtt_calendars_edit', {'calendarId': calendar.id}) }}">
                    <span class="glyphicon glyphicon-edit"></span> {{'global.edit'|trans({}, 'messages')}}
                </a>
                <a onClick="javascript:return confirm('{{'calendar.confirm_delete'|trans({}, 'messages')}}')" class="btn btn-danger" href="{{ path('canal_tp_mtt_calendars_delete', {'id': calendar.id}) }}">
                    <span class="glyphicon glyphicon-trash"></span> {{'global.delete'|trans({}, 'messages')}}
                </a>
            </td>
            
        </tr>
    {% else %}
        <tr>
            <td colspan="5">
                <div class="alert alert-info fade in">
                    {{'calendar.list.no_items'|trans}}
                </div>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block inline_javascripts %}
    {{ parent() }}
    <script>
        require(['jquery'], function($) {
            $("#calendar_export_btn").on("click", function(event){
                if ($(this).is("[disabled]")) {
                    event.preventDefault();
                }
            });
        });
    </script>
{% endblock %}
