{% extends "CanalTPMttBundle::generic_list.html.twig" %}

{% block breadcrumb %}
    <li>{{'menu.list_timecard'|trans()}}</li>
{% endblock %}

{% block list_title %}
    {{ 'timecard.list_page_title'|trans({}, 'default') }}<br><small>{{ options.current_line }}</small>
{% endblock %}
{% block line_comment %}
    <p><span style="color:red;">TODO :</span>Commentaire sur la ligne</p>
{% endblock %}

{% block list_menu %}
    {%  if (is_granted('BUSINESS_CHOOSE_LAYOUT') ) %}
        {% if (lineConfig is empty or lineConfig.layoutConfig is null)  %}

            <a class="btn btn-default{% if currentSeason.locked %} disabled{% endif %}" href="#" data-toggle="modal" data-target="#base-modal" data-remote="{{ path('canal_tp_mtt_line_choose_layout', {'externalNetworkId': externalNetworkId, 'seasonId':currentSeason.id, 'line_id': externalLineId, 'externalRouteId': externalRouteId, 'destRoute': 'canal_tp_mtt_timecard_list'}) }}">
                <span class="glyphicon glyphicon-cog"></span> {{'line.choose_layout'|trans({}, 'default')}}
            </a>
        {% else %}
            <div class="btn-group pull-right marg10b">
                <a class="btn btn-default{% if currentSeason.locked %} disabled{% endif %}" href="#" data-toggle="modal" data-target="#base-modal" data-remote="{{ path('canal_tp_mtt_line_choose_layout', {'externalNetworkId': externalNetworkId, 'seasonId':currentSeason.id, 'line_id': externalLineId, 'externalRouteId': externalRouteId, 'destRoute': 'canal_tp_mtt_timecard_list'}) }}">
                    <span class="glyphicon glyphicon-cog"></span> {{'line.choose_layout'|trans({}, 'default')}}
                </a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block table_head -%}
    <th>{{'timecard.list.columns.label_1'|trans({}, 'default')}}</th>
    {% if is_granted('BUSINESS_MANAGE_AREA') %}
        <th>{{'global.actions'|trans({}, 'messages')}}</th>
    {% endif %}
{% endblock %}

{% block table_body -%}
        <tr>
            <td>
            </td>
            <td class="action">
                <div class="btn-group pull-right">
                    {% if lineConfig is not empty and lineConfig.layoutConfig is not null %}
                        <a class="btn btn-default" href="{{ path('canal_tp_mtt_timecard_edit', {'externalNetworkId':externalNetworkId, 'externalLineId':externalLineId, 'seasonId':currentSeason.id, 'externalRouteId': externalRouteId}) }}">
                            <span class="glyphicon glyphicon-edit"></span> {{'timecard.btn.edit'|trans({}, 'default')}}
                        </a>
                        <a class="btn btn-default" href="#" style="color:red">
                            <span class="glyphicon glyphicon-edit"></span> {{'timecard.btn.download'|trans({}, 'default')}}
                        </a>
                        <a class="btn btn-primary" href="#"  style="color:red">
                            <span class="glyphicon glyphicon-search"></span> {{'global.preview'|trans}}
                        </a>
                    {% endif %}
                </div>
            </td>
        </tr>
{% endblock %}