{% extends "CanalTPMttBundle::generic_list.html.twig" %}
{% set navigationMode = 'lines' %}

{% import "CanalTPMttBundle::macros.html.twig" as rendering %}

{% block breadcrumb %}
    <li>{{ 'menu.edit_timetables'|trans }}</li>
{% endblock %}

{% block list_title %}
    {{ 'menu.line_timetable.list'|trans }}
{% endblock %}

{% block list_menu %}
    <h4>{{ rendering.lineNumber(externalLineData) }}</h4>

    {% block line_comment %}
        {% if externalLineData.comment %}
            <p>{{ externalLineData.comment }}</p>
        {% endif %}
    {% endblock %}

    {% if (is_granted('BUSINESS_MANAGE_LINE_TIMETABLE')) %}
        {% if seasons is empty %}
            {{ 'season.please_create_before_continue'|trans({}, 'default') }}
            <a class="btn btn-default pull-right" href="{{ path('canal_tp_mtt_season_list', {'externalNetworkId': externalNetworkId}) }}">
                {{ 'season.create'|trans({}, 'default') }}
            </a>
        {% else %}
            <div class="btn-group pull-right marg10b" >
                {% if lineTimetable.hasTemplateOfType('line') %}
                    <a class="btn btn-primary{% if currentSeason.locked %} disabled{% endif %}" href="{{ path('canal_tp_mtt_line_timetable_render',
                        {'externalNetworkId': externalNetworkId, 'externalLineId': externalLineId, 'seasonId': currentSeason.id, 'mode': 'edit'}) }}">
                        <span class="glyphicon glyphicon-edit"></span> {{ 'line_timetable.action.edit'|trans({}, 'default') }}
                    </a>
                {% endif %}
                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">{{ 'global.actions'|trans }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    {% if (is_granted('BUSINESS_CHOOSE_LAYOUT')) %}
                    <li>
                        <a
                            {% if currentSeason.locked %}class="disabled"{% endif %}
                            href="#"
                            data-toggle="modal"
                            data-target="#base-modal"
                            data-remote="{{ path('canal_tp_mtt_line_choose_layout', {'externalNetworkId': externalNetworkId, 'seasonId': currentSeason.id, 'externalLineId': externalLineId}) }}"
                        >
                            <span class="glyphicon glyphicon-cog"></span> {{ 'line.choose_layout'|trans({}, 'default') }}
                        </a>
                    </li>
                    {% endif %}
                    {% if lineTimetable %}
                    <li>
                        <a
                            href="{{ path('canal_tp_mtt_line_timetable_select_stops', {
                                'externalNetworkId': externalNetworkId,
                                'seasonId': currentSeason.id,
                                'lineTimetableId': lineTimetable.id }) }}"
                        >
                            <span class="glyphicon glyphicon-edit"></span> {{ 'line_timetable.action.select_stops'|trans({}, 'default') }}
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{{ path('canal_tp_mtt_line_timetable_show_schedule', {'externalNetworkId': externalNetworkId, 'externalLineId': externalLineId }) }}">
                            <span class="glyphicon glyphicon-calendar"></span> {{ 'line_timetable.action.show_schedule'|trans({}, 'default') }}
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
