{% extends "CanalTPMttBundle::modal.html.twig" %}

{% block open_form %}
    {{ form_start(form) }}
{% endblock %}

{% block modal_title %}
    {{'season.create'|trans({}, 'default')}}
{% endblock %}


{% block modal_body %}
        {{ form_errors(form) }}
        {{ form_row(form.title) }}

        <div class="row input-range">
            <div class="col-md-6">
            {{ form_row(form.startDate) }}
            </div>
            <div class="col-md-6">
            {{ form_row(form.endDate) }}
            </div>
        </div>
        <script>
            require(['bootstrap/datepicker', 'bootstrap/datepicker/{{ app.request.locale }}'], function(){
                $('.input-range input').datepicker({
                    language: '{{ app.request.locale }}',
                    autoclose: true
                });
            });
        </script>
{% endblock %}

{% block modal_actions %}
    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-pencil"></span> {{'global.save'|trans}}
    </button>
    {{ form_end(form) }}
{% endblock %}
