{% extends "CanalTPMttBundle::modal.html.twig" %}

{% block open_form %}
    {{ form_start(form) }}
{% endblock %}

{% block modal_title %}
    {{'season.create'|trans({}, 'default')}}
{% endblock %}


{% block modal_body %}
        {{ form_errors(form) }}

        {{ form_row(form.title) }}

        {{ form_row(form.startDate) }}

        {{ form_row(form.endDate) }}
{% endblock %}

{% block modal_actions %}
    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-pencil"></span> {{'global.save'|trans}}
    </button>
    {{ form_end(form) }}
{% endblock %}
