{% extends "CanalTPMttBundle::generic_list.html.twig" %}

{% block list_title -%}
    {{'season.list'|trans({}, 'default')}}
    -
    <a href="#" data-toggle="modal" data-target="#base-modal" data-remote="{{ path('canal_tp_mtt_season_edit', {'coverage_id': coverageId, 'network_id': networkId}) }}" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span> {{'season.create'|trans({}, 'default')}}
    </a>
{% endblock %}

{% block table_head -%}
    <th>{{'season.title'|trans({}, 'default')}}</th>
    <th>{{'season.start_date'|trans({}, 'default')}}</th>
    <th>{{'season.end_date'|trans({}, 'default')}}</th>
    <th>{{'global.actions'|trans({}, 'messages')}}</th>
{% endblock %}

{% block table_body -%}
    {% if seasons|length == 0 %}
        <tr>
            <td colspan="4">
                {{'global.no_items'|trans}}
            </td>
        </tr>
    {% else %}
        {% for season in seasons %}
            <tr>
                <td>
                    {{ season.title }}
                </td>
                <td>
                    {{ season.startDate|date('d/m/Y') }}
                </td>
                <td>
                    {{ season.endDate|date('d/m/Y') }}
                </td>
                <td class="action">
                    <div class="btn-group">
                        <a  class="btn btn-default" href="#" data-toggle="modal" data-target="#base-modal" data-remote="{{ path('canal_tp_mtt_season_edit', {'network_id': networkId, 'season_id': season.id }) }}">
                            <span class="glyphicon glyphicon-edit"></span> {{'global.edit'|trans({}, 'messages')}}
                        </a>
                    </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
{% endblock %}
