{% extends "::modal.html.twig" %}

{% form_theme form 'CanalTPMttBundle:Form:fields.html.twig' %}

{% block open_form %}
    {{ form_start(form) }}
{% endblock %}

{% block modal_title %}
    {{'customer.actions.assign_twig'|trans({}, 'default')}}
{% endblock %}


{% block modal_body %}
    {{ form_errors(form) }}

    {{ form_row(form.layoutsAssigned) }}
{% endblock %}

{% block modal_actions %}
    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-pencil"></span> {{'global.save'|trans}}
    </button>
    {{ form_end(form) }}
    <script type="text/javascript">
    require(['navitia'], function(Navitia, utils){
        var nav_api = new Navitia();

        $('#mtt_network_external_coverage_id').change(function(){
            var token = $('#mtt_network_token');

            if (token.val() != '' && $(this).val() != '') {
                var $networkSelect = $('#mtt_network_external_id');
                // keep selected value when refreshing network list
                if ($networkSelect.val() != '') {
                    var previousValue = $networkSelect.val();
                }
                nav_api.getCoverageNetworks(
                    'canal_tp_mtt_network_list_json',
                    {
                        'externalCoverageId': $(this).val(),
                        'token': token.val()
                    },
                    function(networks){
                        var network = null;
                        $networkSelect.empty();
                        for (key in networks) {
                            $networkSelect.append('<option value="' + key + '">' + networks[key] + '</option>');
                        }
                        if (previousValue) {
                            $networkSelect.find('option[value="' + previousValue + '"]').prop('selected', true);
                        }
                        $networkSelect.show().siblings('label').show();
                    },
                    function(){
                        $networkSelect.hide().siblings('label').hide();
                    }
                );
            }
        });
    });
    </script>
{% endblock %}
