{% extends "CanalTPMttBundle::generic_list.html.twig" %}

{% block list_title -%}
    {{'customer.assignation'|trans({}, 'default')}}
{% endblock %}

{% block table_head -%}
    <th>{{'customer.name'|trans({}, 'default')}}</th>
    <th>{{'customer.perimeters'|trans({}, 'default')}}</th>
    <th>{{'customer.models'|trans({}, 'default')}}</th>
    <th>{{'global.actions'|trans({}, 'messages')}}</th>
{% endblock %}

{% block table_body -%}
    {% if customers|length == 0 %}
        <tr>
            <td colspan="4">
                {{'global.no_items'|trans}}
            </td>
        </tr>
    {% else %}
        {% for row in customers %}
            {% set customer = row.customerEntity %}
            <tr>
                <td>
                    {{ customer.name }}
                </td>
                <td>
                    {% if customer.perimeters|length == 0 %}
                        {{'customer.no_item'|trans({}, 'default')}}
                    {% else %}
                        <ul>
                        {% for perimeter in customer.perimeters %}
                            <li>{{ perimeter.getExternalCoverageId() ~ '/' ~ perimeter.getExternalNetworkId() }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </td>
                <td>
                    <ul>
                    {% for layout in row.layouts %}
                        <li>{{ layout.label }}</li>
                    {% endfor %}
                    </ul>
                </td>
                <td class="action">
                    <div class="btn-group">
                        <a class="btn btn-default{{disabledBtn}}" href="{{ path('canal_tp_mtt_customer_assign_layout', {'externalNetworkId': externalNetworkId, 'customerId': customer.id }) }}" data-toggle="modal" data-target="#base-modal">
                            <span class="glyphicon glyphicon-edit"></span> {{'customer.actions.assign_twig'|trans({}, 'default')}}
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block modal_body %}
    {{'customer.publication_and_generation'|trans({}, 'default')}}
{% endblock %}

{% block modal_actions %}
    <button id="submit-btn" type="submit" name="with_generation" class="btn btn-success">
        {{'customer.buttons.generate_then_publish'|trans({}, 'default')}}
    </button>
    <button type="submit" class="btn btn-success">
        {{'customer.buttons.publish_only'|trans({}, 'default')}}
    </button>
{% endblock %}
