{% block layout_widget %}

    <div class="list-group" data-toggle="buttons">
    {% for child in choices %}
        {% set config = attribute(layouts, child.value) %}
        <label for="layout-{{ child.value }}" class="btn btn-primary list-group-item layout-choice-item {% if form.vars.value == child.value %} active{% endif %}">
            <img class="layout-preview" src="{{app.request.basePath}}{{ config.preview }}" />
            <input {% if form.vars.value == child.value %} checked="checked"{% endif %} type="radio" name="{{ full_name }}" id="layout-{{ child.value }}" value="{{ child.value }}"> {{ child.label }}
        </label>
    {% endfor %}
    </div>
{% endblock %}

{% block datepicker_widget %}
    {% spaceless %}
        datepicker field
        <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        {%  set attr = attr|merge({'class': ((attr.class|default('') ~ ' acmeDatePicker')|trim)}) %}
        {% set  id = id ~ "_datepicker" %}
        {% set  full_name = "datepicker_" ~ full_name  %}
        <input type="text" {{ block('widget_attributes') }}/>
    {% endspaceless %}
{% endblock datePicker_widget %}