{% extends "CanalTPMttBundle::container.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="all" href="{{ asset('bundles/canaltpmtt/css/layouts.css') }}?{{ assets_version }}" />
    <link rel="stylesheet" media="all" href="{{ asset('bundles/canaltpmtt/css/print.css') }}?{{ assets_version }}" />
{% endblock %}

{% block breadcrumb %}
    {% if pageTitle %}
        <li><a href="{{ path(
            'canal_tp_mtt_stop_point_list',
            {
                'externalNetworkId'        : externalNetworkId,
                'line_id'           : externalLineId,
                'externalRouteId'   : externalRouteId,
                'seasonId'          : currentSeason.id
            }
        ) }}">
            {{'menu.edit_timetables'|trans({}, 'messages')}}
        </a></li>
        <li>{{ pageTitle|trans({}, 'default') }}</li>
    {% endif %}
{% endblock %}

{% block main_content %}
    {% if (displayMenu) %}
    <div id="left-menu" class="toggable-left-menu no-print">
        <div class="submenu-wrapper">
            <ul class="nav nav-pills nav-stacked back-btn-wrapper">
                <li>
                    <a href="{{ path(
                        'canal_tp_mtt_stop_point_list',
                        {
                            'externalNetworkId'        : externalNetworkId,
                            'line_id'           : externalLineId,
                            'externalRouteId'   : externalRouteId,
                            'seasonId'          : currentSeason.id
                        }
                    ) }}">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        {{'stop_point.list.back'|trans({}, 'default')}}
                    </a>
                </li>
                {% if stopPoint and is_granted('BUSINESS_GENERATE_PDF') %}
                    <li{% if currentSeason.locked %} class="disabled"{% endif %}>
                        <a href="{{ path('canal_tp_mtt_timetable_edit', {'externalLineId': externalLineId, 'externalNetworkId': externalNetworkId, 'seasonId': currentSeason.id, 'externalRouteId': externalRouteId}) }}">
                            <span class="glyphicon glyphicon-edit"></span> {{'stop_point.edit'|trans}}
                        </a>
                    </li>
                    <li{% if currentSeason.locked %} class="disabled"{% endif %}>
                        <a href="{{ path('canal_tp_mtt_timetable_generate_pdf', {'timetableId': timetable.id, 'externalNetworkId': externalNetworkId, 'externalStopPointId' : stopPoint.externalId}) }}">
                            <span class="glyphicon glyphicon-download-alt"></span> {{'global.generatePdf'|trans}}
                        </a>
                    </li>
                {% else %}
                <li>
                    <a href="{{ path('canal_tp_mtt_timetable_view', {'externalNetworkId': externalNetworkId, 'externalLineId': externalLineId, 'externalRouteId': externalRouteId, 'seasonId': currentSeason.id, 'externalStopPointId': externalStopPointId}) }}">
                        <span class="glyphicon glyphicon-eye-open"></span> {{'stop_point.view'|trans}}
                    </a>
                </li>
                {% endif %}
            </ul>
            {{ render(controller('CanalTPMttBundle:Default:navigation', {'externalNetworkId': externalNetworkId, 'current_route': externalRouteId, 'current_season': currentSeason.id})) }}
        </div>
        <div class="toggle-button">
            <span class="glyphicon glyphicon-transfer"></span>
        </div>
    </div>
    {% endif %}

    {% if prevNextStopPoints and stopPointLevel == true %}
        {% set route = editable == true ? 'canal_tp_mtt_timetable_edit': 'canal_tp_mtt_timetable_view' %}
        {% if prevNextStopPoints.prev %}
            {% set prev_url = path(
                route,
                {
                    'externalNetworkId':externalNetworkId,
                    'externalLineId':externalLineId,
                    'externalRouteId': externalRouteId,
                    'externalStopPointId' : prevNextStopPoints.prev,
                    'seasonId':currentSeason.id
                }
            ) %}
        {% endif %}
        {% if prevNextStopPoints.next %}
            {% set next_url = path(
                route,
                {
                    'externalNetworkId':externalNetworkId,
                    'externalLineId':externalLineId,
                    'externalRouteId': externalRouteId,
                    'externalStopPointId' : prevNextStopPoints.next,
                    'seasonId':currentSeason.id
                }
            ) %}
        {% endif %}
        <div class="no-print">
        {%
            include "CanalTPMttBundle::prevNextStopPoints.html.twig"
            with {
                'prev_url' : prev_url ?: false,
                'next_url' : next_url ?: false
            }
        %}
        </div>
    {% endif %}
    <div id="layout-main-wrapper" class="wrapper-{{orientation}}{% if editable == true %} editable{% endif %}">
        {% block timetable_content %}{% endblock %}
    </div>

    {% block scripts %}{% endblock %}
{% endblock %}
