<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% stylesheets  'css/bootstrap.css'
                        '../vendor/canaltp/meth-bundle/CanalTP/MethBundle/Resources/public/css/main.css'
                        '../vendor/canaltp/meth-bundle/CanalTP/MethBundle/Resources/public/css/layouts.css'
                        '../vendor/canaltp/meth-bundle/CanalTP/MethBundle/Resources/public/css/layouts/*'
                        
                       filter='cssrewrite' output='css/full_layouts.css' %}
            <link rel="stylesheet" media="all" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets  '../vendor/canaltp/meth-bundle/CanalTP/MethBundle/Resources/public/css/print.css'
                       filter='cssrewrite' output='css/full_layouts_print.css' %}
            <link rel="stylesheet" media="print" href="{{ asset_url }}" />
        {% endstylesheets %}
        
        {% block head_config %}
            {% include 'CanalTPMethBundle::config.js.html.twig' %}
        {% endblock %}
    </head>
    <body{% if editable == true %} class="editable"{% endif %}>
        <div class="navbar no-print">
        {% block left_menu %}
            {% if editable == true %}
                {{ render(controller('CanalTPMethBundle:Default:navigation'), {'current_route': ''}) }}
            {% endif %}
        {% endblock %}
        {% if stopPoint %}
            <a class="btn btn-primary" href="{{ path('canal_tp_meth_timetable_generate_pdf', {'timetableId': timetable.id, 'stopPointId' : stopPoint.externalId}) }}">
                <span class="glyphicon glyphicon-download-alt"></span> {{'global.generatePdf'|trans}}
            </a>
        {% endif %}
        </div>
        <div id="layout-main-wrapper">
        {% block body %}{% endblock %}
        </div>

        {% if editable == true %}
            <div id="base-modal" class="modal fade">
                {% include 'CanalTPMethBundle::modal.html.twig' %}
            </div><!-- /.modal -->
            {% block scripts %}{% endblock %}
        {% endif %}
        {#
        <pre>
            {% for dom_id,block in line.blocks %}
                {{ dump(dom_id) }}
                {{ dump(block) }}
            {% endfor %}
        </pre>
        #}
    </body>
</html>
