<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        {% stylesheets  'css/bootstrap.css'
                        '../vendor/canaltp/mtt-bundle/CanalTP/MttBundle/Resources/public/css/main.css'
                        '../vendor/canaltp/mtt-bundle/CanalTP/MttBundle/Resources/public/css/layouts.css'
                        '../vendor/canaltp/mtt-bundle/CanalTP/MttBundle/Resources/public/css/layouts/*'

                       filter='cssrewrite' output='css/full_layouts.css' %}
            <link rel="stylesheet" media="all" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets  '../vendor/canaltp/mtt-bundle/CanalTP/MttBundle/Resources/public/css/print.css'
                       filter='cssrewrite' output='css/full_layouts_print.css' %}
            <link rel="stylesheet" media="print" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% block head_config %}
            {% include 'CanalTPMttBundle::config.js.html.twig' %}
        {% endblock %}
    </head>
    <body{% if editable == true %} class="editable"{% endif %}>
        <div class="navbar no-print">
        {% block left_menu %}
            {% if editable == true %}
                {{ render(controller('CanalTPMttBundle:Default:navigation'), {'current_route': ''}) }}
            {% endif %}
        {% endblock %}
        {% if stopPoint %}
            <a class="btn btn-primary" href="{{ path('canal_tp_meth_timetable_generate_pdf', {'timetableId': timetable.id, 'externalNetworkId': externalNetworkId, 'externalStopPointId' : stopPoint.externalId}) }}">
                <span class="glyphicon glyphicon-download-alt"></span> {{'global.generatePdf'|trans}}
            </a>
        {% endif %}
        </div>

        <div id="layout-main-wrapper">
        {% block body %}{% endblock %}
        </div>

        {% if editable == true %}
            <div id="base-modal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        {% include 'CanalTPMttBundle::modal.html.twig' %}
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        {% endif %}
        {% include 'CanalTPMttBundle::common.js.twig' %}
        {% block scripts %}{% endblock %}
    </body>
</html>
