{% extends "CanalTPMethBundle:Layouts:base_layout.html.twig" %}

{% block body %}
    <div id="layout-1-wrapper">
        <div class="layout-container">
            <div id="header" class="clearfix">
                <div id="direction-title-wrapper" data-block-level="route" data-auto-filled="1">
                    {% if route.title is defined %}
                        {{ route.title }}
                    {% endif %}
                </div>
                <div id="stop-point-title-wrapper" data-block-level="stop_point" data-auto-filled="1">
                    {% if stopPoint is defined %}
                        <div class="bold">{{'stop_point.label'|trans({}, 'default')}}:</div> {{ stopPoint.title }}
                    {% endif %}
                </div>
            </div>
            <div id="map-wrapper" class="clearfix">
                <div id="line_map_block" data-block-level="route" data-block-type="img" class="block">
                {% set block = attribute(route.blocks, 'line_map_block') %}
                {% if block %}
                    <img class="line_map_img" src="{{ block.content }}" title="{{ block.title }}" title="{{ block.alt }}" />
                {% endif %}
                </div>
                <div id="small-right-blocks">
                    {% for i in 1..4 %}
                        {% set id = 'text_block_' ~ i %}
                        {% set block = attribute(route.blocks, id) %}
                        <div id="{{ id }}" data-block-level="{% if i == 4 %}stop_point{% else %}route{% endif %}" data-block-type="text" class="small-block block">
                            {% if block %}
                                <div class="title">{{ block.title }}</div>
                                <div class="content">{{ block.content|nl2br }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="timetables-wrapper" class="clearfix">
                {% for i in 1..4 %}
                <div data-block-level="stop_point" class="timetable-container block"></div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {# mutualize in base layout #}
    {% if stopPointLevel == false %}
        {% set stopPointJs = false %}
    {% else %}
        {% set stopPointJs = stopPoint.navitiaId %}
    {% endif %}
    {% set route_id = route.id == false ? 0 : route.id %}

    <script>
    require(['meth_layout'], function(Meth_Layout){
        var layout = Meth_Layout.init(
            $('#layout-1-wrapper'), 
            {{ blockTypes|json_encode()|raw }}, 
            {{route.externalId|json_encode()|raw}}, 
            {{externalCoverageId|json_encode()|raw}}, 
            {{stopPointJs|json_encode()|raw}}
        );
    });
    </script>
{% endblock %}
