{% extends "CanalTPMttBundle:Layouts:base_layout.html.twig" %}

{% block body %}
    <div id="layout-1-wrapper">
        <div class="layout-container">
            <div id="header" class="clearfix">
                <div id="direction-title-wrapper" data-block-level="route" data-auto-filled="1">
                    {% if timetable.title is defined %}
                        {{ 'global.direction'|trans }} {{ timetable.title }}
                    {% endif %}
                </div>
                <div id="stop-point-title-wrapper" data-block-level="stop_point" data-auto-filled="1">
                    {% if stopPoint is defined %}
                        <div class="bold">{{'stop_point.label'|trans({}, 'default')}}:</div> {{ stopPoint.title }}
                    {% endif %}
                </div>
            </div>
            <div id="map-wrapper" class="clearfix">
                <div id="line_map_block" data-block-level="route" data-block-type="img" class="block">
                {% set block = attribute(timetable.blocks, 'line_map_block') %}
                {% if block %}
                    <img class="line_map_img" src="{{ block.content }}" title="{{ block.title }}" title="{{ block.alt }}" />
                {% endif %}
                </div>
                <div id="small-right-blocks">
                    {% for i in 1..4 %}
                        {% set id = 'text_block_' ~ i %}
                        {% if i == 4 %}
                            {% set block = attribute(stopPoint.blocks, id) %}
                        {% else %}
                            {% set block = attribute(timetable.blocks, id) %}
                        {% endif %}
                        <div id="{{ id }}" data-block-level="{% if i == 4 %}stop_point{% else %}route{% endif %}" data-block-type="text" class="small-block block">
                            {% if block %}
                                <div class="title">{{ block.title }}</div>
                                <div class="content">{{ block.content|nl2br }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="timetables-wrapper" class="clearfix">
                {% for i in 1..4 %}
                    {% set id = 'timegrid_block_' ~ i %}
                    {% set block = attribute(timetable.blocks, id) %}
                    <div title="{{ 'help.edit_block'|trans }}" id="{{ id }}" data-block-level="route" data-block-type="calendar" class="timegrid-container block">
                        <div class="timegrid-header">
                            {% if block %}{{ block.title }}{% endif %}
                        </div>
                        <div class="timegrid-body relative" data-validate-height="1">
                            {% set hours_range = layoutConfig.calendar_range|calendarRange %}
                            <!-- Frequencies -->
                            <table>
                                <tr>
                                {% for i in hours_range %}
                                    <td class="timegrid-column hour-label">{{i}}{{ 'global.hour_label'|trans }}</td>
                                {% endfor %}
                                </tr>
                                {% if block.frequencies|length > 0 %}
                                    {%  
                                        include "CanalTPMttBundle:Frequency:display.html.twig" 
                                        with { 'frequencies' : block.frequencies, 'hours_range' : hours_range } 
                                    %}
                                {% endif %}
                            {% set calendar = attribute(calendars, block.content) %}
                            {% if stopPointLevel == false and block %}
                                <!--
                                TODO
                                tr><td colspan="22" class="external-calendar-name">{{ calendar.name }}</td></tr
                                -->
                                <tr>
                                    <td colspan="22" class="text-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary dropdown-toggle hide" data-toggle="dropdown">
                                                {{'layout.actions'|trans({}, 'default')}} <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu centered-dropdown text-left" role="menu">
                                                <li>
                                                    <a data-toggle="modal" href="{{ 
                                                        path(
                                                            'canal_tp_meth_block_edit', 
                                                            {
                                                                'externalCoverageId':externalCoverageId, 
                                                                'timetableId': timetable.id, 
                                                                'dom_id' : id,
                                                                'blockId' : block.id,
                                                                'block_type' : 'calendar'
                                                            }
                                                        ) 
                                                    }}" data-target="#base-modal">
                                                        <span class="glyphicon glyphicon-calendar"></span> {{'calendar.form.label'|trans({}, 'default')}}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-toggle="modal" href="{{ 
                                                        path(
                                                            'canal_tp_mtt_frequency_edit', 
                                                            {
                                                                'externalCoverageId':externalCoverageId, 
                                                                'blockId':block.id, 
                                                                'layoutId' : layout
                                                            }
                                                        ) 
                                                    }}" data-target="#base-modal">
                                                        <span class="glyphicon glyphicon-pencil"></span> {{'frequency.form.label'|trans({}, 'default')}}
                                                    </a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                    <a class="danger" href="{{ path('canal_tp_meth_block_delete', {'externalCoverageId':externalCoverageId, 'timetableId': timetable.id, 'blockId': block.id}) }}">
                                                        <span class="glyphicon glyphicon-trash"></span> {{'global.delete'|trans}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% elseif calendar %}
                                {% set loopMax = calendar|calendarMax %}
                                {% for i in 0..loopMax %}
                                    <tr class="{% if i % 2  == 0 %}even{% else %}odd{% endif %}">
                                    {% for index,hour in hours_range %}
                                        <td class="timegrid-column">
                                            {% set datetime = attribute(calendar.schedules.date_times, hour) %}
                                            {% if 
                                                hour|isWithinFrequency(block.frequencies, hours_range) == false 
                                                and datetime 
                                                and datetime|length > 0 
                                            %}
                                                {% if datetime[i] %}
                                                    {{ datetime[i]|schedule(notes)|raw }}
                                                {% endif %}
                                            {% endif %}
                                            </td>
                                    {% endfor %}
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </table>
                            
                            {# position is specific to this layout ie i== 1... #}
                            {% if i == 1 and notes|length > 0 %}
                                <div class="timetable-notes">
                                {% for note in notes %}
                                    <div><span class="bold">{{ loop.index0|footnote|raw }}</span>: {{ note.value|raw }}</div>
                                {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{# mutualize it #}
{% block scripts %}
    {# <pre>{{ dump(calendars) }}</pre> #}
    {% if stopPointLevel == false %}
        {% set stopPointJs = false %}
    {% else %}
        {% set stopPointJs = stopPoint.externalId %}
    {% endif %}

    <script>
    {% if editable == true %}
    require(['jquery', 'mtt/layout', 'bootstrap', 'mtt/form/collection'], function($, Layout){
        var layout = Layout.init(
            $('#layout-1-wrapper'),
            {{ blockTypes|json_encode()|raw }},
            {{timetable.id|raw}},
            {{externalCoverageId|json_encode()|raw}},
            {{stopPointJs|json_encode()|raw}}
        );
    });
    {% endif %}
    {% if stopPointLevel != false %}
        require(['jquery', 'mtt/layout/validator', 'bootstrap'], function($, Validator){
            var validator = Validator.init({
                'wrapper'       : $('#layout-1-wrapper')
            });
            validator.validate();
        });
    {% endif %}
    </script>
{% endblock %}
