{% extends "CanalTPMethBundle:Layouts:base_layout.html.twig" %}

{% block body %}

    <div id="layout-1-wrapper">
        <div class="container">
            <div id="header" class="row">
                <div class="col-md-10" data-block-level="line" data-auto-filled="1">
                    {% if line.title is defined %}
                        {{ line.title }}
                    {% endif %}
                </div>
                <div class="col-md-2" data-block-level="stop_point" data-auto-filled="1">
                    {% if stop_point is defined %}
                        {{ stop_point.name }}
                    {% endif %}
                </div>
            </div>
            <div id="map-wrapper" class="row">
                <div id="line_map_block" data-block-level="line" data-block-type="img" class="block col-md-10">
                {% set block = attribute(line.blocks, 'line_map_block') %}
                {% if block %}
                    <img class="line_map_img" src="{{ app.request.basePath ~ block.content }}" title="{{ block.title }}" title="{{ block.alt }}" />
                {% endif %}
                </div>
                <div id="small-right-blocks" class="col-md-2">
                    {% for i in 1..4 %}
                        {% set id = 'text_block_' ~ i %}
                        {% set block = attribute(line.blocks, id) %}
                        <div id="{{ id }}" data-block-level="line" data-block-type="text" class="small-block block">
                            {% if block %}
                                    <div class="title">{{ block.title }}</div>
                                    <div class="content">{{ block.content|nl2br }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="timetables-wrapper" class="row">
                <div data-block-level="stop_point" class="timetable-container block col-md-6"></div>
                <div data-block-level="stop_point" class="timetable-container block col-md-6"></div>
                <div data-block-level="stop_point" class="timetable-container block col-md-6"></div>
                <div data-block-level="stop_point" class="timetable-container block col-md-6"></div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <pre>
        {% for dom_id,block in line.blocks %}
            {{ dump(dom_id) }}
            {{ dump(block) }}
        {% endfor %}
    </pre>
    <script>
    require(['meth_layout'], function(Meth_Layout){
        var layout = Meth_Layout.init($('#layout-1-wrapper'), {{ blockTypes|json_encode()|raw }}, {{line.id}});
    });
    </script>
{% endblock %}
