{% import "CanalTPMttBundle:Layouts:macros.html.twig" as macros %}

{% extends "CanalTPMttBundle:Layouts:base_layout.html.twig" %}

{% block timetable_content %}
    <div id="layout-1-wrapper" class="{% block additionnal_wrapper_class %}{% endblock %}">
        <div class="layout-container">
            <div id="header" class="clearfix">
                <div id="direction-title-wrapper" data-block-level="route" data-auto-filled="1">
                    {% if timetable.title is defined %}
                        {{ 'global.direction'|trans }} {{ timetable.title }}
                    {% endif %}
                </div>
                <div id="stop-point-title-wrapper" data-block-level="stop_point" data-auto-filled="1">
                    <div class="bold">{{'stop_point.label'|trans({}, 'default')}}:</div> {{ stopPoint.title }}
                </div>
            </div>
            <div id="map-wrapper" class="clearfix">
                {{ macros.img('line_map_block', attribute(timetable.blocks, 'line_map_block'), 'line_map_img', 'route') }}
                <div id="small-right-blocks">
                    {% for i in 1..4 %}
                        {% set id = 'text_block_' ~ i %}
                        {% if i == 1 %}
                            {{ macros.season_validity(id, season, 'small-block') }}
                        {% elseif i == 4 %}
                            {{ macros.stop_point_code(id, stopPoint, 'small-block') }}
                        {% else %}
                            {{ macros.text(id, attribute(timetable.blocks, id), 'route', 'small-block block') }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% block timetables_wrapper %}
                <div id="timetables-wrapper" class="clearfix">
                    {% for i in 1..4 %}
                        {% set id = 'timegrid_block_' ~ i %}
                        {% set block = attribute(timetable.blocks, id) %}
                        <div title="{{ 'help.edit_block'|trans }}" id="{{ id }}" data-block-level="route" data-block-type="calendar" class="timegrid-container block">
                            <div class="timegrid-header">
                                {% if block %}{{ block.title }}{% endif %}
                            </div>
                            <div class="timegrid-body relative" data-validate-height="1">
                                {% set calendar = attribute(calendars, block.content) %}
                                <!-- Frequencies -->
                                {% if (calendar.schedules.additional_informations is not empty) %}
                                    <div class="external-additional-informations">{{ calendar.schedules.additional_informations }}</div>
                                    <table class="empty-timegrid">
                                {% else %}
                                    <table>
                                {% endif %}
                                    {% set hours_range = layout|calendarRange %}
                                    {{ macros.hours_thead(hours_range)}}
                                    {% if block.frequencies|length > 0 and (calendar.schedules.additional_informations is empty) %}
                                        {%
                                            include "CanalTPMttBundle:Frequency:display.html.twig"
                                            with { 'frequencies' : block.frequencies, 'hours_range' : hours_range }
                                        %}
                                    {% endif %}
                                    {{ macros.calendar(id, stopPointLevel, externalNetworkId, timetable, layout, block, calendar, notes, hours_range) }}
                                </table>

                                {# position is specific to this layout ie i==1... #}
                                {% if i == 1 and notes|length > 0 %}
                                    <div class="timetable-notes">
                                    {% for note in notes %}
                                        <div><span class="bold">{{ loop.index0|footnote|raw }}</span>: {{ note.value|raw }}</div>
                                    {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {%
        include 'CanalTPMttBundle:Layouts:common.js.twig'
        with {
            'editable'          : editable,
            'stopPointLevel'    : stopPointLevel,
            'externalNetworkId' : externalNetworkId,
            'blockTypes'        : blockTypes,
            'timetable'         : timetable,
            'stopPoint'         : stopPoint,
            'selector'          : '#layout-1-wrapper' }
    %}
{% endblock %}
