{% extends "CanalTPMethBundle:Layouts:base_layout.html.twig" %}

{% block body %}
    <div id="layout-1-wrapper">
        <div class="layout-container">
            <div id="header" class="clearfix">
                <div id="direction-title-wrapper" data-block-level="route" data-auto-filled="1">
                    {% if timetable.title is defined %}
                        {{ timetable.title }}
                    {% endif %}
                </div>
                <div id="stop-point-title-wrapper" data-block-level="stop_point" data-auto-filled="1">
                    {% if stopPoint is defined %}
                        <div class="bold">{{'stop_point.label'|trans({}, 'default')}}:</div> {{ stopPoint.title }}
                    {% endif %}
                </div>
            </div>
            <div id="map-wrapper" class="clearfix">
                <div id="line_map_block" data-block-level="route" data-block-type="img" class="block">
                {% set block = attribute(timetable.blocks, 'line_map_block') %}
                {% if block %}
                    <img class="line_map_img" src="{{ block.content }}" title="{{ block.title }}" title="{{ block.alt }}" />
                {% endif %}
                </div>
                <div id="small-right-blocks">
                    {% for i in 1..4 %}
                        {% set id = 'text_block_' ~ i %}
                        {% if i == 4 %}
                            {% set block = attribute(stopPoint.blocks, id) %}
                        {% else %}
                            {% set block = attribute(timetable.blocks, id) %}
                        {% endif %}
                        <div id="{{ id }}" data-block-level="{% if i == 4 %}stop_point{% else %}route{% endif %}" data-block-type="text" class="small-block block">
                            {% if block %}
                                <div class="title">{{ block.title }}</div>
                                <div class="content">{{ block.content|nl2br }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="timetables-wrapper" class="clearfix">
                {% for i in 1..4 %}
                    {% set id = 'timegrid_block_' ~ i %}
                    {% set block = attribute(timetable.blocks, id) %}
                    <div id="{{ id }}" data-block-level="route" data-block-type="timegrid" class="timegrid-container block">
                        <div class="timegrid-header">
                            {% if block %}{{ block.title }}{% endif %}
                        </div>
                        <div class="timegrid-body">
                            <table>
                                <tr>
                                {% set hours_range = [] %}
                                {% for i in 4..23 %}
                                    {% set hours_range = hours_range|merge([i]) %}
                                    <td class="timegrid-column hour-label">{{i}}{{ 'global.hour_label'|trans }}</td>
                                {% endfor %}
                                    <td class="timegrid-column hour-label">0{{ 'global.hour_label'|trans }}</td>
                                    {% set hours_range = hours_range|merge([0]) %}
                                    <td class="timegrid-column hour-label">1{{ 'global.hour_label'|trans }}</td>
                                    {% set hours_range = hours_range|merge([1]) %}
                                </tr>
                            {% set calendar = attribute(calendars, block.content) %}
                            {% if stopPointLevel == false and block %}
                                <tr><td colspan="22" class="external-calendar-name">{{ calendar.name }}</td></tr>
                                <tr>
                                    <td colspan="22" class="text-center">
                                        <a class="btn btn-danger no-ajax" href="{{ path('canal_tp_meth_block_delete', {'externalCoverageId':externalCoverageId, 'timetableId': timetable.id, 'blockId': block.id}) }}">
                                            <span class="glyphicon glyphicon-trash"></span> {{'global.delete'|trans}}
                                        </a>
                                    </td>
                                </tr>
                            {% elseif calendar %}
                                <tr>
                                {% for hour in hours_range %}
                                    {% set datetime = attribute(calendar.schedules.date_times, hour) %}
                                    <td class="timegrid-column">
                                    {% if datetime %}
                                        {% for journey in datetime %}
                                            <div>{{ journey.date_time.getTimestamp()|date('i')|raw }}</div>
                                        {% endfor %}
                                    {% endif %}
                                    </td>
                                {% endfor %}
                                </tr>
                            {% endif %}
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <pre>{{ dump(calendars) }}</pre>
    {# mutualize in base layout #}
    {% if stopPointLevel == false %}
        {% set stopPointJs = false %}
    {% else %}
        {% set stopPointJs = stopPoint.externalId %}
    {% endif %}

    <script>
    require(['meth_layout'], function(Meth_Layout){
        var layout = Meth_Layout.init(
            $('#layout-1-wrapper'),
            {{ blockTypes|json_encode()|raw }},
            {{timetable.id|raw}},
            {{externalCoverageId|json_encode()|raw}},
            {{stopPointJs|json_encode()|raw}}
        );
    });
    </script>
{% endblock %}
