<div {% if editable %}title="{{ 'help.edit_block'|trans }}"{% endif %} id="{{ id }}" data-block-level="route" data-block-type="calendar" class="timegrid-container block">
    <div class="timegrid-header">
        {% if block %}{{ block.title }}{% endif %}
    </div>
    <div class="timegrid-body relative" data-validate-height="1">
        {% set calendar = attribute(calendars, block.content) %}
        <!-- Frequencies -->
        {% if (calendar.schedules.additional_informations is not empty) %}
            <div class="external-additional-informations">{{ calendar.schedules.additional_informations }}</div>
            <table class="empty-timegrid">
        {% else %}
            <table>
        {% endif %}
            {% set hours_range = layout|calendarRange %}
            {{ macros.hours_thead(hours_range)}}
            {% if block.frequencies|length > 0 and (calendar.schedules.additional_informations is empty) %}
                {%
                    include "CanalTPMttBundle:Frequency:display.html.twig"
                    with { 'frequencies' : block.frequencies, 'hours_range' : hours_range }
                %}
            {% endif %}
            {% if i == 2 or i == 3 %}
                {{ macros.calendar(id, stopPointLevel, externalNetworkId, timetable, layout, block, calendar, notes, hours_range, 10) }}
            {% elseif i == 4 %}
                {{ macros.calendar(id, stopPointLevel, externalNetworkId, timetable, layout, block, calendar, notes, hours_range, 8) }}
            {% else %}
                {{ macros.calendar(id, stopPointLevel, externalNetworkId, timetable, layout, block, calendar, notes, hours_range) }}
            {% endif %}
        </table>

        {# position is specific to this layout -> i==2... #}
        {% if addNotes is not empty and notes|length > 0 %}
            <div class="timetable-notes">
            {% for note in notes %}
                <div><span class="bold">{{ loop.index0|footnote|raw }}</span>: {{ note.value|raw }}</div>
            {% endfor %}
            </div>
        {% endif %}
    </div>
</div>