{% extends "CanalTPMethBundle::generic_list.html.twig" %}

{% block left_menu %}
    {{ render(controller('CanalTPMethBundle:Default:navigation', { 'current_route': current_route })) }}
{% endblock %}

{% block list_title -%}
    {{'stop_point.list.header'|trans({}, 'default')}} ({{ routes.route_schedules[0].display_informations.label }})
    -
    {% if line is empty %}
        <a href="#" data-toggle="modal" data-target="#base-modal" data-remote="{{ path('canal_tp_meth_line_choose_layout', {'coverage_id':externalCoverageId, 'network_id': network_id, 'line_id': line_id, 'route_id': routeExternalId}) }}" class="btn btn-default">
            {{'line.choose_layout'|trans({}, 'default')}}
        </a>
    {% else %}
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            {{'stop_point.action.header'|trans({}, 'default')}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
                <a href="{{ path('canal_tp_meth_timetable_edit', {'externalCoverageId':externalCoverageId, 'routeExternalId': routeExternalId}) }}">
                    <span class="glyphicon glyphicon-edit"></span> {{'route.edit_layout'|trans({}, 'default')}}
                </a>
            </li>
            <li>
                <a href="#" data-toggle="modal" data-target="#base-modal" data-remote="{{ path('canal_tp_meth_line_choose_layout', {'coverage_id':externalCoverageId, 'network_id': network_id, 'line_id': line_id, 'route_id': routeExternalId}) }}">
                    <span class="glyphicon glyphicon-cog"></span> {{'line.choose_layout'|trans({}, 'default')}}
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="{{ path('canal_tp_meth_distribution_list', {'coverageId':externalCoverageId, 'networkId': network_id, 'lineId': line_id, 'routeId': routeExternalId}) }}">
                    <span class="glyphicon glyphicon-list"></span> {{'line.manage_distribution'|trans({}, 'default')}}
                </a>
            </li>
          </ul>
        </div>
    {% endif %}
{% endblock %}

{% block table_head -%}
    <th>{{'stop_point.header'|trans({}, 'default')}}</th>
    {% if line is not empty %}
        <th class="text-center">{{'global.status'|trans}}</th>
        <th>{{'stop_point.pdf_generation_date'|trans({}, 'default')}}</th>
        <th>{{'stop_point.action.header'|trans({}, 'default')}}</th>
    {% endif %}
{% endblock %}

{% block table_body -%}

    {% for route in routes.route_schedules[0].table.rows %}
        <tr>
            <td>
                {{ route.stop_point.name }}
            </td>
            {% if line is not empty %}
            <td class="text-center">{{ macros.display_bool(false) }}</td>
            <td>
                 {% if route.stop_point.pdfGenerationDate is not empty %}
                    {{ route.stop_point.pdfGenerationDate|date }}
                {% endif %}
            </td>
            <td class="action">
                <div class="btn-group">
                    <a  class="btn btn-default" href="{{ path('canal_tp_meth_timetable_edit', {'externalCoverageId':externalCoverageId, 'routeExternalId': routeExternalId, 'stopPoint' : route.stop_point.id}) }}">
                        <span class="glyphicon glyphicon-edit"></span> {{'global.edit'|trans}}
                    </a>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">{{'ctp_core.toggle_menu'|trans}}</span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-ok"></span> {{'global.validate'|trans}}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('canal_tp_meth_timetable_view', {'line_id': line.id, 'stopPoint' : route.stop_point.id}) }}">
                                <span class="glyphicon glyphicon-eye-open"></span> {{'global.preview'|trans}}
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
            {% endif %}
        </tr>
    {% endfor %}

{% endblock %}
