{% extends "CanalTPMethBundle::generic_list.html.twig" %}

{% block left_menu %}
    {{ render(controller('CanalTPMethBundle:Default:navigation', { 'current_route': current_route })) }}
{% endblock %}

{% block list_title -%}
    {{'stop_point.list.header'|trans({}, 'default')}} ({{ routes.route_schedules[0].display_informations.label }})
    -
    <a href="#" data-toggle="modal" data-target="#base-modal" data-remote="{{ path('canal_tp_meth_line_choose_layout', {'coverage_id':coverage_id, 'network_id': network_id, 'line_id': line_id, 'route_id': route_id}) }}" class="btn btn-success">
        {{'line.choose_layout'|trans({}, 'default')}}
    </a>
    {# TODO: in progress METH-12
    {% if line and line is not empty %}
        -
        <a href="{{ path('canal_tp_meth_line_edit_layout', {'line_id': line.id}) }}" class="btn btn-success">
            {{'line.edit_layout'|trans({}, 'default')}}
        </a>
    {% endif %}
    #}
{% endblock %}

{% block table_head -%}
    <th>{{'stop_point.header'|trans({}, 'default')}}</th>
    <th class="text-center">{{'global.status'|trans}}</th>
    <th>{{'stop_point.action.header'|trans({}, 'default')}}</th>
{% endblock %}

{% block table_body -%}

    {% for route in routes.route_schedules[0].table.rows %}
        <tr>
            <td>
                {{ route.stop_point.name }}
            </td>
            <td class="text-center">{{ macros.display_bool(false) }}</td>
            <td class="action">
                <div class="btn-group">
                    <a href="#" class="btn btn-success">
                        <span class="glyphicon glyphicon-ok"></span> {{'global.validate'|trans}}
                    </a>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">{{'ctp_core.toggle_menu'|trans}}</span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>    
                            <a class="danger" href="#">
                                <span class="glyphicon glyphicon-edit"></span> {{'global.edit'|trans}}
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    {% endfor %}

{% endblock %}
